.category__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-right: 15px;

    input{
        cursor: pointer;
        &:hover, &:checked {
            transform: scale(1.05);
            box-shadow: 0 0 7px #fff;
        }
    }

    label{
        margin-left: 10px;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    
    span{
        margin-left: 10px;
        margin-right: 10px;
    }

    &__count{
        margin-left: auto;
    }
}