.page404-div{
    position:relative;
    margin-left:calc(50% - 250px);
    width:500px;
    padding:15px;
    text-align:center;
    margin-top:20px;
    border-radius:20px;
    border:2px solid #181a1c;
    background-color:#181a1c;
}
.page404-h2{
    font-size:3.2rem;
    color: lightgrey;
}