.brand__item, .category__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-right: 15px;

    input {
        cursor: pointer;
        &:hover, &:checked{
            transform: scale(1.05);
            box-shadow: 0 0 7px #fff;
        }
        &:checked + label{
            transform: scale(1.05);
            font-weight: bold;
        }
    }

    .zero {
        &:hover{
            transform: scale(1);
            box-shadow: none
        }
        &:checked + label{
            transform: scale(1);
            font-weight: normal;
        }
    }

    label{
        cursor: pointer;
        margin-left: 10px;
        &:hover{
            transform: scale(1.05);
        }
    }
    span{
        margin-left: 10px;
        margin-right: 10px;
    }

    &__count{
        margin-left: auto;
        &.zero{
            color: rgb(80, 80, 80);
        }
    }
}

