.products {
    width: 72%;
    background-color: #181a1c;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;

    &__header {
        display: flex;
        justify-content: space-between;

        &__select {
            text-align: center;
            color: #fff;
            min-width: 250px;
            max-width: 300px;
            border-radius: 5px;
            border: 1px solid #fff;
            padding: 5px 5px;
            font-size: 1.25rem;
            cursor: pointer;
            line-height: 1.1;
            background-color: #181a1c;

            &:focus {
                border: 1px solid #fff;
            }
        }

        &__found {
            color: wheat;
            font-size: 28px;

            span {
                color: lightgrey;
            }
        }

        &__search {
            input{
                color: #fff;
                text-align: center;
                font-size: 18px;
                height: 36px;
                width: 250px;
                border: 1px solid #fff;
                background-color:#181a1c;
                border-radius: 5px;
            };
        }

        &__buttons{
            width: 80px;
            display: flex;
            justify-content: space-between;
            button{
                cursor: pointer;
                width: 36px;
                height: 36px;
                border: none;
                background-color:#181a1c;
                border-radius: 5px;
                color: lightgrey;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;

                &:hover, &.active{
                    transform: scale(1.15);
                    box-shadow: 0 0 2px  #fff;
                }

                img{
                    width: 32px;
                }
            }
        }
    }

    &__items {
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }
}

.not-found {
    color: lightgrey;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
}